*.sw*
*.pyc
*$py.class

# xcode noise
build/
*.pbxuser
*.mode1v3


# old skool
.svn

# osx noise
.DS_Store
profile
# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/
.idea/*
.idea


server/jar/terajdbc4.jar

server/jar/tdgssconfig.jar

server/jar/hive-jdbc-0.10.0-cdh4.2.0.jar

server/jar/noarch-ncluster-jdbc-driver.jar

server/jar/postgresql-9.2-1002.jdbc4.jar

server/jar/sqljdbc4.jar
